<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
        .text {
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            font-family: arial, verdana;
            color: #00716f;
            margin-top: 20px;
        }
    </style>

    <link rel="stylesheet" href="css/commom/commom.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/fastclick.js"></script>
    <script src="js/jquery-mini-js"></script>
    <script src="./js/vue.js"></script>

    <title>登录</title>
</head>


<body>
    <div class="bg"></div>
    <div class="topMargin"></div>
    <div class="root">

        <header class="conmonHeader conmonHeaderLeft">
            <div class="slogan slogan"></div>
            <div class="login1 login1Right"></div>
            <div class="login2 login2Left"></div>
        </header>
        <section class="Seciton" id="loginMainInfo">
            <div class="loginSection">
                <form action="list.html">
                    <div class="login">
                        <ul>
                            <li>
                                <label for="">姓　名:</label>
                                <input type="text" name="userName" placeholder="请输入姓名" v-model='name'>
                            </li>
                            <li>
                                <label for="">手机号:</label>
                                <input type="text" name="mobileNo" placeholder="请输入手机号" v-model='phone'>
                            </li>
                        </ul>
                    </div>
                    <div class="loginByOther " v-cloak>

                        <label for="" class="text" style="font-size: 34px;line-height: 34px; " v-text='title'></label>

                        <span style="margin-top: 10px;">
                                <label for="" class = "text" style="font-size: 40px;line-height: 40px;" v-text='name'></label>
                                <label for="" class = "text" style="font-size: 28px;line-height: 28px;" v-text='sex'></label>
                        </span>
                    </div>
                    <div class="subBtn">
                        <button type="button" value="" v-on:click="handleSubmit"></button>

                    </div>
                </form>
            </div>
        </section>

        <footer class="commonFooter ">
            <div class="buliding bulidingLeft "> </div>
            <div class="decoration decorationLeft "> </div>
            <div class="mascot "> </div>
        </footer>
    </div>
    <script>
        $(function() {
            var parameters = window.location.search;
            if (parameters.length > 0) {
                $('.loginByOther').show();
                $('.login').hide();
            } else {
                $('.loginByOther').hide();
                $('.login').show();
            }

        });

        var vm = new Vue({
            el: '.loginByOther',
            data: {
                title: 'helloVuew',
                name: '名字',
                sex: '性别'
            }
        });

        var vm2 = new Vue({
            el: '#loginMainInfo',
            data: {
                name: '',
                phone: ''
            },
            methods: {
                handleSubmit: function() {
                    var string = this.name + '呵呵' + this.phone;
                    alert(string);
                }
            }
        });
    </script>
</body>


</html>